.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px;
}
.progress{
    height: 20px;
    background: black;
    border-radius: 30px;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    border-radius: 30px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-bar:before{
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.progress .progress-bar:after{
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: white;
    border: 8px solid #000;
    position: absolute;
    bottom: -8px;
    right: 0;
    z-index: 1;
}
@keyframes animate-positive{
    0%{ width: 0; }
}


.c-timeline__item {
    display: flex;
    gap: 1.5rem;
}

.c-timeline__content {
    order: 1;
    /* Reorder the content as per the design. */
    padding-bottom: 3rem;
}


* The separator line */
.c-timeline__item:not(:last-child) .c-timeline__content:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #d3d3d3;
}

/* The circle */
.c-timeline__content:after {
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    z-index: 1;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
}